# ignore folders
makemore/ 
.venv/
books/
__pycache__/
data/
!Sentiment Analysis/data
Sentiment Analysis/data/aclImdb_v1/

# ignore files
Sentiment Analysis/data/aclImdb_v1.tar.gz
sklearn_cosinesimilarity.py
playground.ipynb
things to implement.txt
test2.py
.venv/
__pycache__/

# ignore files; classical ml files 
sentiment_test_data.csv
sentiment_train_data.csv
test.py
main.py
